.btn-cart1{
    display: none;
}
.btn-cart {
    margin-left: 2rem;
    cursor: pointer;
}
.cart-icon {
    color: black;
}
.bi-cart-fill {
    fill: currentColor; 
    transition: fill 1s ease; 
}
.cart-panel.active {
    right: 0; /* Muestra el panel cuando esté activo */
}
.btn-remove {
    padding: 0.75rem 1.5rem; /* Espaciado interno */
    margin: 1rem 0 0 1rem; /* Margen */
    font-size: 1rem; /* Tamaño de la fuente */
    color: #fff; /* Color del texto */
    background: linear-gradient(#CD1023, #ca4250d5); /* Fondo degradado */
    text-decoration: none; /* Sin subrayado */
    border-radius: 0.4rem; /* Esquinas redondeadas */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background 0.3s ease; /* Transición suave para el fondo */
}

.btn-remove:hover {
    background: linear-gradient(#ca4250d5, #CD1023); /* Cambia el fondo al pasar el mouse */
}
.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid black; /* Borde negro */
    border-radius: 0.4rem; /* Esquinas redondeadas */
    padding: 1rem;
    margin: 1rem 0; /* Espaciado entre productos */
}

.cart-item-image {
    width: 50px; /* Ajusta el tamaño según necesites */
    height: 50px; /* Ajusta el tamaño según necesites */
    border-radius: 0.4rem; /* Esquinas redondeadas para la imagen */
    margin-right: 1rem; /* Espaciado entre la imagen y el texto */
}


.btn-success {
    fill: currentColor;
    width: 6rem; 
    height: 4rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 1rem; 
    position: relative; 
    padding: 0; 
    border: none; 
    background: white;
}
.btn-success img {
    width: 2.4rem; 
    height: 2.4rem; 
}
.btn:hover{
	background:linear-gradient(#CD1023, #ca4250d5);
    transition: 1s;   
}
.btn:hover .bi-cart-fill {
    fill: white; 
}
.cart-number    {
    position: absolute;
    top: -1rem; 
    right: -1rem; 
    background-color: white;
    color: black; 
    border-radius: 50%;
    width: 2rem; 
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; 
    font-weight: bold;
    z-index: 10; 
}
   /** Cesta*/
   .cart-toggle1{
    display: none;
    }
   .cart-toggle{
    display: none;
    }
    .cart-panel {
        position: fixed;
        top: 0;
        right: -100%; /* Oculto por defecto */
        width: 30rem;
        height: 100%;
        background-color: white;
        box-shadow: -.2rem 0 .5rem rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        padding: 2rem;
        z-index: 1000;
    }
   
    .cart-panel h2 {
        margin-top: 0;
    }
    .close-panel {
        display: inline-block;
        margin-top: 2rem;
        color: #28a745;
        cursor: pointer;
        font-weight: bold;
    }
    .active {
        position: fixed;
        top: 0;
        right: -100%; /* Oculto por defecto */
        width: 30rem;
        height: 100%;
        background-color: white;
        box-shadow: -.2rem 0 .5rem rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        padding: 2rem;
        z-index: 1000;
    }
    .btnh-close{
        display: none;
    }
    
    @media (max-width: 768px) {
    .cart-btn {
        display: flex;
    }
    .btn-cart{
        display: none;
    }
    .btn-cart1{
        display: block;
    }   
}