<header class="header">
    <div class="container logo-navbar">
        <div class="container-logo">
            <a 
                [routerLink]="['/home']">
                <img class="logo" src="assets/images/logo.png" alt="imagen-logo" />
            </a>
        </div>
        <div class="btn-cart1" id="btn-cart1">
            <button type="button" class="btn btn-success" title="Ver su cesta de la compra">
                <a class="cart-icon" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-cart-fill" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                </a>
                <p class="cart-number">0</p>
            </button>   
        </div>
        <label for="btnh-toggle" class="btn-hamburguer">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </label>
        <input type="checkbox" id="btnh-toggle" class="btnh-toggle">
        <div class="container-nav-cartlog">
            <label for="btnh-toggle" class="btnh-close">    
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                </svg>
            </label>
            <nav class="nav" id="nav">
                <ul class="main-menu" >
                    <li class="menu-item" >
                        <strong><a class="header-item" routerLink="#" >Servicios</a></strong>
                    </li>
                    <li class="menu-item">
                        <strong>
                            <a 
                                class="header-item" 
                                [routerLink]="['/computers']"
                                routerLinkActive="active"
                                >Computadores</a>
                        </strong>
                    </li>
                    <li class="menu-item">
                        <strong><a class="header-item" routerLink="#" >Impresiones</a></strong>
                    </li>
                    <li class="menu-item">
                        <strong><a class="header-item" routerLink="#" >Accesorios</a></strong>
                    </li>
                </ul>              
            </nav>
            <div class="container-cartlog">
                <div class="container-search">
                    <input class="search" type="text" id="search-input" placeholder="Buscar productos">
                    <div class="btn-search" id="search-button">
                        <i class="fa fa-search"></i>
                    </div>
                </div> 
                <div class="btn-cart">
                    <input type="checkbox" id="cart-toggle" class="cart-toggle" />
                    <label for="cart-toggle" class="btn btn-success cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <p class="cart-number">0</p>
                    </label> 
                    <label for="cart-toggle" class="background"></label>
                    <div class="cart-panel">
                        <label for="cart-toggle" class="btn-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                            </svg>
                        </label>
                        <h2>Tu cesta de la compra</h2>
                        <p>No hay productos en el carrito.</p>                                
                    </div>  
                </div>
                <app-login />
                
            </div> 
        </div> 
                           
    </div>
</header>