<main class="main">
    <nav class="breadcrumb">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/computadores">Computadores</a></li>
        <li><a routerLink="/portatiles">Portatiles</a></li>
      </ul>
    </nav>
    
    <div class="texto-p">
      <h2>Portatiles</h2>
    </div>
  
    <div class="filters">
        <div class="filter-container">
            <input type="checkbox" id="filter-toggle" class="filter-toggle">
            <label for="filter-toggle" class="filter-button">
                <span class="button-text show-text">Mostrar filtros</span>
                <span class="button-text hide-text">Ocultar filtros</span>
                <i class="fas fa-filter"></i>
            </label>
            <label for="filter-toggle" class="filter-overlay"></label>
            <div class="filter-sidebar">
                <label for="filter-toggle" class="close-button">&times;</label>
                <h3>Filtros</h3>
                <div class="filter-section">
                    <input type="checkbox" id="brand-toggle" class="sub-filter-toggle">
                    <label for="brand-toggle" class="sub-filter-button">Marca</label>
                    <div class="sub-filter-content">
                        <label><input type="checkbox"> Marca 1</label><br>
                        <label><input type="checkbox"> Marca 2</label><br>
                        <label><input type="checkbox"> Marca 3</label><br>
                    </div>
                </div>
                <div class="filter-section">
                    <input type="checkbox" id="price-toggle" class="sub-filter-toggle">
                    <label for="price-toggle" class="sub-filter-button">Precio</label>
                    <div class="sub-filter-content">
                        <label><input type="checkbox"> $0 - $50</label><br>
                        <label><input type="checkbox"> $51 - $100</label><br>
                        <label><input type="checkbox"> $101 - $150</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-container">
            <input type="checkbox" id="order-toggle" class="order-toggle" [(ngModel)]="orderToggle">
            <label for="order-toggle" class="order-button">
              <span class="order-text">Ordenar por:</span>
              <span class="order-text1">{{ selectedOrder }}</span>
            </label>    
            <label for="order-toggle" class="order-overlay"></label>
            <div class="order-list">
              <label for="order-toggle" class="close-button">&times;</label>
              <div class="order-selection">
                <div class="sub-order-content">
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Orden predeterminado" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Orden predeterminado
                  </label>
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Ordenar por popularidad" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Ordenar por popularidad
                  </label>
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Ordenar por puntuación media" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Ordenar por puntuación media
                  </label>
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Ordenar por los últimos" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Ordenar por los últimos
                  </label>
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Ordenar por precio: bajo a alto" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Ordenar por precio: bajo a alto
                  </label>
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Ordenar por precio: alto a bajo" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Ordenar por precio: alto a bajo
                  </label>
                  <label class="order-select-text">
                    <input type="radio" name="order" value="Ordenar por más vendidos" [(ngModel)]="selectedOrder" (change)="onOrderChange($event)">
                    Ordenar por más vendidos
                  </label>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="card-container">
      <div class="cards">
        <app-cards></app-cards>
      </div>
      <div class="cards">
        <app-cards></app-cards>
      </div>
      <div class="cards">
        <app-cards></app-cards>
      </div>
      <div class="cards">
        <app-cards></app-cards>
      </div>
    </div>
  </main>
  