<main class="main">
    <div class="texto-p">
        <h2>Computadores</h2>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="./images/portatil-a.png" alt="portatil" class="card-img">
            <div class="card-body">
                <h3 class="card-title">Portatiles</h3>
                <p class="card-text">Descripcion producto.</p>
                <div class="btn-buy">
                    <a routerLink="/computers-category/product-list" class="card-button">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/portatil l.png" alt="portatil-oficina" class="card-img">
            <div class="card-body">
                <h3 class="card-title">Portatiles oficina</h3>
                <p class="card-text">Descripcion producto.</p>
                <div class="btn-buy">
                    <a href="./portatiles.html" class="card-button">Ver más</a>
                </div>
            </div>
        </div>  
        <div class="card">
            <img src="./images/computador-t.png" alt="computador-todo-en-uno" class="card-img">
            <div class="card-body">
                <h3 class="card-title">Todo en uno</h3>
                <p class="card-text">Descripcion producto.</p>
                <div class="btn-buy">
                    <a href="./portatiles.html" class="card-button">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/portatil-g.png" alt="portatil-gamer" class="card-img">
            <div class="card-body">
                <h3 class="card-title">Gamers</h3>
                <p class="card-text">Descripcion producto.</p>
                <div class="btn-buy">
                    <a href="./portatiles.html" class="card-button">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</main>