/**main*/
    /**Cards*/
    
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
    /** Ofertas*/


.texto-p {
    text-align: center; 
    margin: 2rem 0; 
    padding: 1rem; 
    background: #f8f9fa;
    border-radius: 0.5rem; 
    }
    
    .texto-p h2 {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #000000; 
    margin: 0; 
    }
    
    .texto-p h2::before  {
    content: '';
    display: block;
    width: 50%; 
    height: .5rem;
    background: #000000; 
    margin: .5rem auto; 
    border-radius: 1rem; 
    transition: transform 0.3s ease; 
    }
    .texto-p h2::after  {
    content: '';
    display: block;
    width: 50%; 
    height: .5rem;
    background: #000000; 
    margin: .5rem auto; 
    border-radius: 1rem; 
    transition: transform 0.3s ease; 
    }
    
    .texto-p:hover h2::after {
    transform: scaleX(.5); 
    }
    .texto-p:hover h2::before {
    transform: scaleX(.5); 
    }
 