<footer class="footer">
    <div class="container container-footer">
        <div class="terms">
            <p>Copyright © 2024 Cintas & Cartuchos LAMY. Todos los derechos reservados </p>
        </div>
        <div class="politics">
            <a class="terms-link" href="#">Términos y condiciones</a>
            <a class="terms-link" href="#">Política de privacidad</a>
            <a class="terms-link" href="#">Política de Envíos</a>
            <a class="terms-link" href="#">PQR’S</a>
        </div >
        <div>
        <a class="terms-link">Powered with Angular</a>
        </div >
        <div class="whatsapp">
        <a href="https://api.whatsapp.com/send/?phone=573002564183&text=Hola+Lamy%2C+estoy+interesado+en+cotizar&type=phone_number&app_absent=0" class="btn-wsp" target="_blank">
            <img class="logo-whatsapp" src="assets/images/icons/whatsapp.png" alt="logo-whatsapp">
            <p class="text-whats ">¿Necesitas algo? Escríbenos</p>                
        </a>
        </div>  
    </div>
</footer>